<div id="<%= dom_id author %>">
  <% if author.portrait.attached? %>
    <div>
      <%= image_tag author.portrait %>
    </div>
  <% end %>

  <p>
    <strong>First name:</strong>
    <%= author.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= author.last_name %>
  </p>

</div>
