<div id="<%= dom_id author %>">
  <div class="max-w-[350px] rounded-md overflow-hidden">
    <% image = author.portrait.attached? ? author.portrait : 'portrait-placeholder.webp' %>
    <%= image_tag image %>
  </div>

  <h1><%= author.name %></h1>
</div>
