<% if notice %>
  <div class="banner banner-primary" style="margin-bottom: 1rem;">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="banner banner-danger" style="margin-bottom: 1rem;">
    <%= alert %>
  </div>
<% end %>
