<div id="<%= dom_id book %>" class="card relative">
  <% unless controller_name == "books" && action_name == "show" %>
    <%= link_to "", book, class: "absolute top-0 left-0 w-full h-full" %>
  <% end %>
  <h2><%= book.title %></h2>
</div>
