<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <% if book.author.present? %>
    <p>
      <strong>Author:</strong>
      <%= link_to book.author.name, book.author %>
    </p>
  <% end %>
</div>
