<% content_for :title, "Books" %>

<h1><%= t(".title") %></h1>

<div id="books">
  <% @books.each do |book| %>
    <div class="card" style="margin-bottom: 1rem;">
      <%= render book %>
      <%= link_to t("books.actions.show"), book %>
    </div>
  <% end %>
</div>

<%= link_to t(".new"), new_book_path, class: "btn btn-primary" %>
