- content_for :title, "Books"

h1 Books

= link_to "New book", new_book_path

div#books.grid
  - @books.each do |book|
    div.card
      = render book
      p
        = link_to "Show this book", book
