<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <div class="card" style="margin-bottom: 1rem;">
      <%= render book %>
      <%= link_to "Show this book", book %>
    </div>
  <% end %>
</div>

<%= link_to "New book", new_book_path, class: "btn btn-primary" %>
