<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<%= link_to "New book", new_book_path %>

<div id="books" class="grid sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
  <%= render @books %>
</div>
